<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]= "client.nome" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade"
            [(ngModel)]= "client.idade" name="idade">
        </mat-form-field>
    </form>
</mat-card>



<button mat-raised-button (click)="createClient()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>